<div th:replace="~{layouts/layout :: layout(~{::main}, 'TCL Travels - Edit Employee', ~{fragments/scripts :: admin})}">
  <main>
    <div id="edit_employee_box" class="bg1 bigshadow" style="height: 720px;">
      <div
        class="bg2 bigshadow text_shadow1"
        style="height: 40px; text-align: center; color: #fff; padding: 10px 0; font-weight: bold; font-size: 26px;"
      >
        Edit Employee Account
      </div>

      <div style="text-align: center;">
        <form
          id="form_register"
          th:action="@{/admin/employees/{personId}(personId=${personId})}"
          th:object="${employeeForm}"
          method="post"
        >
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <table class="register_table">
            <tr>
              <td class="align_right">First Name</td>
              <td>
                <input type="text" th:field="*{firstName}" />
                <span class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                  Invalid First Name
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">Last Name</td>
              <td>
                <input type="text" th:field="*{lastName}" />
                <span class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                  Invalid Last Name
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">Address</td>
              <td>
                <input type="text" th:field="*{address}" />
                <span class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
                  Invalid Address
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">City</td>
              <td>
                <input type="text" th:field="*{city}" />
                <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">
                  Invalid City
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">State</td>
              <td>
                <input type="text" th:field="*{state}" />
                <span class="error" th:if="${#fields.hasErrors('state')}" th:errors="*{state}">
                  Invalid State [Enter 2 letters (NY)]
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">
                ZIP<br />
                <span class="smalltext">(5 Digits)</span>
              </td>
              <td>
                <input type="text" th:field="*{zipcode}" />
                <span class="error" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">
                  Invalid ZIP [Enter 5 digits]
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">
                Telephone<br />
                <span class="smalltext">(10-11 Digits)</span>
              </td>
              <td>
                <input type="text" th:field="*{telephone}" />
                <span class="error" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">
                  Invalid Telephone [Enter 10-11 digits]
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">
                SSN<br />
                <span class="smalltext">(9 Digits)</span>
              </td>
              <td>
                <input type="text" th:field="*{ssn}" />
                <span class="error" th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}">
                  Invalid SSN [Enter 9 digits]
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">Start Date</td>
              <td>
                <input type="text" th:field="*{startDate}" placeholder="MM/DD/YYYY" />
                <span class="error" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">
                  Invalid Date [Enter in the format MM/DD/YYYY]
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">Hourly Rate</td>
              <td>
                $ <input type="text" th:field="*{hourlyRate}" />
                <span class="error" th:if="${#fields.hasErrors('hourlyRate')}" th:errors="*{hourlyRate}">
                  Invalid Wage [Enter a number with two decimal digits]
                </span>
              </td>
            </tr>
            <tr>
              <td class="align_right">Manager</td>
              <td>
                <input type="checkbox" th:field="*{isManager}" />
                <span class="smalltext">(Check the box if the employee is a manager)</span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <input type="submit" value="Update" />
                <input type="reset" value="Reset" />
                <a th:href="@{/admin}"><input type="button" value="Cancel" /></a>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </main>
</div>
