<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  th:fragment="layout(content, title, scripts)">
  <head>
    <meta charset="UTF-8" />
    <title th:text="${title}">TCL Travels</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  </head>

  <body>
    <th:block th:replace="~{fragments/nav :: top_bar}"></th:block>

    <div id="center_content">
      <div th:replace="${content}"></div>
    </div>
    <th:block th:replace="${scripts}"></th:block>
  </body>
</html>
