<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="none"></th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="admin">
  <script th:src="@{/js/admin.js}" defer></script>
  <script th:src="@{/js/itinerary.js}" defer></script>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="account">
  <script th:src="@{/js/account.js}" defer></script>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="help">
  <script th:src="@{/js/help.js}" defer></script>
</th:block>

<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="reservations">
  <script th:src="@{/js/reservations.js}" defer></script>
  <script th:src="@{/js/itinerary.js}" defer></script>
</th:block>
