<div th:replace="~{layouts/layout :: layout(~{::main}, 'TCL Travels - Home', ~{fragments/scripts :: none})}">
  <main>
    <div
      class="bigtext align_right"
      style="color: #aaa; margin-bottom: -18px"
      th:text="'Welcome to TCL Travels, ' + ${#authentication.principal.fullName} + '!'"
    ></div>

    <div th:replace="~{flights/modules/filter :: filter_box}"></div>
    <div th:replace="~{reservations/modules/current :: current_list}"></div>
    <div th:replace="~{flights/modules/recommended :: rec_list}"></div>
  </main>
</div>
