<div th:replace="~{layouts/layout :: layout(~{::main}, 'TCL Travels - Home')}">
  <main>
    <div
      class="bigtext align_right"
      style="color: #aaa; margin-bottom: -18px"
      th:text="'Welcome to TCL Travels, ' + ${session.p_firstName} + ' ' + ${session.p_lastName} + '!'"
    ></div>

    <!-- <div th:replace="~{flights/modules/filter :: filter_box}"></div>
      <div th:replace="~{reservations/modules/current :: current_list}"></div>
      <div th:replace="~{flights/modules/recommended :: rec_list}"></div> -->
  </main>
</div>
