<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>TCL Travels - Register</title>
  </head>
  <body>
    <div id="register_box" class="bg1 bigshadow">
      <div
        class="bg2 bigshadow text_shadow1"
        style="
          height: 40px;
          text-align: center;
          color: #fff;
          padding: 10px 0;
          font-weight: bold;
          font-size: 26px;
        "
      >
        Register for a TCL Travels Account!
      </div>

      <div style="text-align: center; position: relative; height: 200px">
        <form
          id="form_register"
          th:action="@{/register}"
          th:object="${registerForm}"
          method="post"
        >
          <table class="register_table">
            <tr>
              <td class="align_right">First Name</td>
              <td>
                <input type="text" th:field="*{firstName}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('firstName')}"
                  th:errors="*{firstName}"
                >
                  Invalid First Name
                </span>
              </td>
            </tr>

            <tr>
              <td class="align_right">Last Name</td>
              <td>
                <input type="text" th:field="*{lastName}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('lastName')}"
                  th:errors="*{lastName}"
                >
                  Invalid Last Name
                </span>
              </td>
            </tr>

            <tr>
              <td class="align_right">Address</td>
              <td>
                <input type="text" th:field="*{address}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('address')}"
                  th:errors="*{address}"
                >
                  Invalid Address
                </span>
              </td>
            </tr>

            <tr>
              <td class="align_right">City</td>
              <td>
                <input type="text" th:field="*{city}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('city')}"
                  th:errors="*{city}"
                >
                  Invalid City
                </span>
              </td>
            </tr>

            <tr>
              <td class="align_right">State</td>
              <td>
                <input type="text" th:field="*{state}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('state')}"
                  th:errors="*{state}"
                >
                  Invalid State
                </span>
              </td>
            </tr>

            <tr>
              <td class="align_right">
                ZIP <br /><span class="smalltext">(5 Digits)</span>
              </td>
              <td>
                <input type="text" th:field="*{zipcode}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('zipcode')}"
                  th:errors="*{zipcode}"
                >
                  Invalid ZIP [Enter 5 digits]
                </span>
              </td>
            </tr>

            <tr>
              <td class="align_right">
                Credit Card <br /><span class="smalltext">(16 Digits)</span>
              </td>
              <td>
                <input type="text" th:field="*{creditCard}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('creditCard')}"
                  th:errors="*{creditCard}"
                >
                  Invalid Credit Card [Enter 16 digits]
                </span>
              </td>
            </tr>

            <tr>
              <td class="align_right">
                Telephone <br /><span class="smalltext">(10-11 Digits)</span>
              </td>
              <td>
                <input type="text" th:field="*{telephone}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('telephone')}"
                  th:errors="*{telephone}"
                >
                  Invalid Telephone [Enter 10 or 11 digits]
                </span>
              </td>
            </tr>

            <tr>
              <td class="align_right">
                Email <br /><span class="smalltext"
                  >(This will be your username)</span
                >
              </td>
              <td>
                <input type="text" th:field="*{email}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"
                >
                  Invalid Email
                </span>
              </td>
            </tr>

            <tr>
              <td class="align_right">
                Password <br /><span class="smalltext"
                  >(At least 6 characters)</span
                >
              </td>
              <td>
                <input type="password" th:field="*{password}" />
                <span
                  class="error"
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"
                >
                  Password Too Short [Enter 6 or more characters]
                </span>
              </td>
            </tr>

            <tr>
              <td></td>
              <td>
                <input type="submit" value="Register" />
                <input type="reset" value="Reset" />
                <a th:href="@{/}"><input type="button" value="Go Back" /></a>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </body>
</html>
