<div th:fragment="auction_list">
  <div class="table_header">Auction History</div>
  <table class="wide_table">
    <tr class="align_left">
      <th>Airline</th>
      <th>FlightNo</th>
      <th>Class</th>
      <th>Date</th>
      <th>Bid</th>
      <th>Status</th>
    </tr>
    <tr th:if="${#lists.isEmpty(auction_history)}">
      <td colspan="6">
        <div class="table_message">You have not bid on any auctions.</div>
      </td>
    </tr>
    <tr th:each="a : ${auction_history}">
      <td th:text="${a.airlineId}"></td>
      <td th:text="${a.flightNumber}"></td>
      <td th:text="${a.seatingClass}"></td>
      <td th:text="${#temporals.format(a.date, 'MMMM d, yyyy')}"></td>
      <td
        th:text="${#numbers.formatDecimal(a.nameYourOwnPrice, 1, 'COMMA', 2, 'POINT')}"
      ></td>
      <td th:text="${a.accepted ? 'Accepted' : 'Rejected'}"></td>
    </tr>
  </table>
</div>
