<div th:fragment="history_list">
  <div class="table_header">Reservation History</div>
  <table class="wide_table">
    <tr class="align_left">
      <th>Reservation No.</th>
      <th>Account No.</th>
      <th>Reservation Date</th>
      <th>Booking Fee</th>
      <th>Total Fare</th>
      <th>Itineraries</th>
    </tr>
    <tr th:if="${#lists.isEmpty(past_reservations)}">
      <td colspan="6">
        <div class="table_message">There are no past reservations</div>
      </td>
    </tr>
    <tbody th:each="r : ${past_reservations}">
      <tr>
        <td th:text="${r.reservationNumber}"></td>
        <td th:text="${r.customerId}"></td>
        <td
          th:text="${#temporals.format(r.reservationDate, 'MMMM d, yyyy | hh:mm a')}"
        ></td>
        <td
          class="align_right"
          th:text="${#numbers.formatDecimal(r.bookingFee, 1, 'COMMA', 2, 'POINT')}"
        ></td>
        <td
          class="align_right"
          th:text="${#numbers.formatDecimal(r.totalFare, 1, 'COMMA', 2, 'POINT')}"
        ></td>
        <td class="align_middle">
          <button
            th:id="|btn_${r.reservationNumber}|"
            type="button"
            th:onclick="|expandItinerary('${r.reservationNumber}')|"
          >
            Expand
          </button>
        </td>
      </tr>
      <tr th:id="|itin_${r.reservationNumber}|" style="display: none">
        <td colspan="6" class="inner_shadow">
          <table class="sub_table" th:each="l : ${r.legs}">
            <tr>
              <td class="light_gradient">
                <table class="itin_table">
                  <tr>
                    <td>
                      Airline:<br />
                      Flight No:<br />
                      <br />
                      Origin:<br />
                      Destination:<br />
                    </td>
                    <td>
                      <span th:text="${l.airlineId}"></span><br />
                      <span th:text="${l.flightNumber}"></span><br />
                      <br />
                      <span
                        th:text="|${l.originAirportId} - ${l.originName} (${l.originCity})|"
                      ></span
                      ><br />
                      <span
                        th:text="|${l.destinationAirportId} - ${l.destinationName} (${l.destinationCity})|"
                      ></span
                      ><br />
                    </td>
                    <td>
                      Departure from
                      <span th:text="${l.originAirportId}"></span>:<br />
                      Arrival at
                      <span th:text="${l.destinationAirportId}"></span>:<br />
                    </td>
                    <td>
                      <span
                        th:text="${#temporals.format(l.departureTime, 'MMMM d, yyyy | hh:mm a')}"
                      ></span
                      ><br />
                      <span
                        th:text="${#temporals.format(l.arrivalTime, 'MMMM d, yyyy | hh:mm a')}"
                      ></span
                      ><br />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
