<div th:fragment="best_selling_list">
  <div class="table_header">Best-Selling Flights</div>
  <table class="wide_table">
    <tr class="align_left">
      <th>Airline ID</th>
      <th>Flight No.</th>
      <th>Seats</th>
      <th>Days Operating</th>
      <th>Flying From</th>
      <th>Flying To</th>
      <th>Reserve</th>
      <th>Bid</th>
    </tr>
    <tr th:if="${#lists.isEmpty(best_flights)}">
      <td colspan="8">
        <div class="table_message">
          Sorry there are no best-selling flights right now!
        </div>
      </td>
    </tr>
    <tr th:each="b : ${best_flights}">
      <td th:text="${b.airlineId}"></td>
      <td th:text="${b.flightNumber}"></td>
      <td th:text="${b.numberOfSeats}"></td>
      <td th:text="${b.daysOperatingLabel}"></td>
      <td th:text="|${b.originId} (${b.originCity})|"></td>
      <td th:text="|${b.destinationId} (${b.destinationCity})|"></td>
      <td>
        <form th:action="@{/reservations/processReservation}" method="post">
          <input type="hidden" name="flightNumber" th:value="${b.flightNumber}" />
          <input type="hidden" name="airlineId" th:value="${b.airlineId}" />
          <input type="submit" value="Reserve" />
        </form>
      </td>
      <td>
        <form th:action="@{/flights/placeBid}" method="post">
          <input type="hidden" name="flightNumber" th:value="${b.flightNumber}" />
          <input type="hidden" name="airlineId" th:value="${b.airlineId}" />
          <input type="submit" value="Bid" />
        </form>
      </td>
    </tr>
  </table>
</div>
